<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <h1>Tech<span>trendz</span></h1>
        </div>
        <ul class="footer-links">
          <li><a href="#Home">Home</a></li>
          <li><a href="#Posts">Posts</a></li>
          <li><a href="#Service">Service</a></li>
          <li><a href="#Portfolio">Portfolio</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
      <p class="footer-copy">© 2024 TechTrendz. All rights reserved.</p>
    </div>
  </footer>
  

<script src="" async defer></script>
</body>
</html>
